* {
  margin: 0px;
}
.login-page-bg-container {
  min-height: 100vh;
  padding-left: 10px;
}
@media screen and (min-width: 768px) {
  .login-page-bg-container {
    display: flex;
    align-items: center;
    height: 100vh;
  }
}

.landing-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.landing-image {
  min-height: 300px;
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .landing-image {
    display: none;
  }
}

.login-heading {
  align-self: flex-end;
  width: 60px;
  height: 32px;
  top: 296px;
  padding-left: 20px;
  left: 24px;
  font-family: DM Sans;
  font-size: 25px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(15, 23, 42, 1);
}
@media screen and (min-width: 767px) {
  .login-heading {
    display: none;
  }
}
.large {
  display: none;
}
@media screen and (min-width: 768px) {
  .large {
    display: flex;
    align-self: center;
    font-size: 32px;
    padding-left: 0px;
    padding-top: 8px;
    margin-top: 0px;
  }
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  margin-top: 30px;
  padding-right: 25px;
}
@media screen and (min-width: 768px) {
  .form-container {
    width: 450px;
    flex-shrink: 1;
    top: 250px;
    left: 165px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

@media screen and (min-width: 768px) {
  .form-lg-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
}

.landing-page-lg {
  width: 50%;
  height: 100vh;
  left: 735px;
  flex-shrink: 1;
}
@media screen and (max-width: 767px) {
  .landing-page-lg {
    display: none;
  }
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .input-container {
    width: 90%;
  }
}
.input-label {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #475569;
}

.username-input-field {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
}

.password-input-field {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
}

.login-button {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 2px;
  background-color: rgba(247, 147, 30, 1);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
}
@media screen and (min-width: 768px) {
  .login-button {
    width: 90%;
  }
}
.error-message {
  color: red;
  align-self: flex-start;
  font-family: DM Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.logo-image-lg {
  display: none;
}
@media screen and (min-width: 768px) {
  .logo-image-lg {
    display: flex;
    width: 53px;
    height: 43px;
    top: 298px;
    left: 366px;
    padding: 2px;
    margin-top: 20px;
  }
}

.logo-heading-lg {
  display: none;
}

@media screen and (min-width: 768px) {
  .logo-heading-lg {
    display: flex;
    font-family: DM Sans;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(247, 147, 30, 1);
    padding-top: 0px;
    margin-top: 0px;
  }
}
